APP_NAME=NAInnovations
APP_ENV=production
APP_KEY=base64:JswZwuGnwYCk/h3vMCAX8EGFPztsPiHgm4Uonz3Jkus=
APP_DEBUG=false
APP_URL=https://nainnovations.be

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=ID435747_nainnovations.db.webhosting.be
DB_PORT=3306
DB_DATABASE=ID435747_nainnovations
DB_USERNAME=ID435747_nainnovations
DB_PASSWORD=N4wf3l4j4r11

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp-auth.mailprotect.be
MAIL_PORT=587
MAIL_USERNAME=info@nainnovations.be
MAIL_PASSWORD=N4wf3l4j4r1
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@nainnovations.be"
MAIL_FROM_NAME="NA Innovations"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

GITHUB_CLIENT_ID=Ov23li7xTOHrt3VdMCC8
GITHUB_CLIENT_SECRET=dfc5d450ba24c3c99f81245a1f82dcfa4fc34f92
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/auth/github/callback

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=0x4AAAAAACxTRP5P9CGZBVRm
TURNSTILE_SECRET_KEY=0x4AAAAAACxTRNyzA61cyJKS5yHNDxUn4ys

# OpenAI API (for chatbot)
OPENAI_API_KEY=

# Google Gemini API (for chatbot)
GEMINI_API_KEY=AIzaSyDgmKDOE5LNpaJd2czBrXi95Y0jwR9DzpM
GEMINI_MODEL=gemini-2.5-flash

DB_DUMP_BIN_PATH="C:/Program Files/MySQL/MySQL Server 8.4/bin"
